



#Icono-imagenes{
    background-image: url("fotos.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    margin-left: auto;

}

#Icono-videos{
    background-image: url("videos.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
}

#Icono-clases{
    background-image: url("clases.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 140px;
    width: 140px;
}
