@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/style.css" rel="stylesheet" />
<div class="jumbotron" id="jumbo">
    <h1>Bienvenido</h1>
    <p class="lead">Sistema de Gestión online de legajos de la Asociación Civil Niño Jesús.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
       
        <h2>Mapa</h2>
        <p>
            Mapa de ubicación de la institución y aledaños.
        </p>
        <p><a class="btn btn-default" href="https://goo.gl/maps/mE9fyTVjWy2y8J7y5">IR &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Teléfonos útiles</h2>
        <p>Números de teléfono de los servicios del GCBA ante una situación de riesgo. </p>
        <p><a class="btn btn-default" href="https://www.buenosaires.gob.ar/laciudad/telefonosutiles">IR &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Staff permanente</h2>
        <p>Listado del personal de planta y datos personales.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">IR &raquo;</a></p>
    </div>
</div>