import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

#angelito{
    width: 50px;
    height: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 200px;
    font-family: 'PT Sans', sans-serif;
}

a, h1 {
    color: black;
}

a {
    text-decoration: none;
    color: grey;
    font-family: 'PT Sans', sans-serif;
}

#jumbo {
    height: 300px;
    background-image: url("Imagenes/encabezado.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    float:none;
   }

footer {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    text-decoration: solid;
    flex: 0 0 auto;
    height: 100px;
}
